# Ignore Python temp files
__pycache__/

# Ignore Emacs temp files
*~
*\#*

# Ignore the environment
.env

# Ignore the Python virtual environment
.venv/
venv/

# Ignore the JSON search results file
search_results.json

# Ignore temp SASS files
.sass-cache/
