/* Normalise styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 10px;
    font-family: inherit;
}

a.link {
    color: blue;
}

a.hover {
    color: white;
}

a.visited {
    color: grey;
}

form {
    text-align: center;
}

.title {
    font-family: "Brush Script MT", cursive;
}

.description {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: small;
}

.organic_result {
    margin-right: 50%;
    // color: rgb(210, 210, 210);
    padding: 15px;

    .link:hover>.title {
        color: blue;
        text-decoration: underline;
    }

    .link {
        text-decoration: none;

        * {
            color: black;
        }

        .source {
            display: flex;
            gap: 1rem;

            img {
                max-width: 100%;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                flex: 1;
                justify-content: space-between;
            }
        }

        .title {
            margin-top: 0.5rem;
            font-size: 1.3rem;
        }
    }

    .description {
        margin-top: 0.5rem;
    }
}

.link {
    color: blue;
    font-size: x-small;
}

#search {
    border: solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

#search:focus {
    color: #00B4CC;
}

#submit {
    border: solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

footer {
    margin: 10px;
    padding: 5px;
    border-top: dotted;
    text-align: center;
}